exportPattern("^[[:alpha:]]+")
importFrom("partitions", "compositions")
importFrom("aster", "rktp")
importFrom("stats", "rmultinom", "rpois", "runif")
S3method(rTableICC.RxC,default)
S3method(rTable.RxC,default)
S3method(rTableICC.2x2xK,default)
S3method(rTable.2x2xK,default)
S3method(print,rTableICC)